@using Newtonsoft.Json
@using System.Web.Mvc.Html
@{
    ViewBag.Title = "Rating";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<br />

<h2>Rating(Default Movie: Her)</h2>
<p>
    @using (Html.BeginForm("Rating", "Home", FormMethod.Get))
    {
        <label for="movieId">Enter Movie ID:</label>
        <input type="text" name="id" id="movieId" />
        <input type="submit" value="Get Rating" />
    }

</p>

@if (!string.IsNullOrEmpty(ViewBag.RatingData as string))
{
    //var ratingData = ViewBag.RatingData; // Assuming ratingData is dynamic or a specific class type
    var ratingData = JsonConvert.DeserializeObject<dynamic>(ViewBag.RatingData);
<div>
    <h3>Basic Information:</h3>
    <p><strong>Movie Title:</strong> @ratingData.media.title</p>
    <p><strong>Movie Homepage:</strong> <a href="@ratingData.media.homepage">Click Here</a></p>

    <p><strong>TMDB ID:</strong> @ratingData.tmdbId</p>
    <p><strong>IMDB ID:</strong> @ratingData.imdbId</p>

</div>

    <div>
        <h3>Ratings:</h3>
        <p><strong>IMDB:</strong> Score - @ratingData.ratings.imdb.score, Reviews Count - @ratingData.ratings.imdb.reviewsCount, <a href="@ratingData.ratings.imdb.url">IMDB Link</a></p>


        <p><strong>Rotten Tomatoes:</strong> Tomatometer - @ratingData.ratings.rotten_tomatoes.tomatometer, Audience Score - @ratingData.ratings.rotten_tomatoes.audienceScore, Average Score - @ratingData.ratings.rotten_tomatoes.averageScore, <a href="@ratingData.ratings.rotten_tomatoes.url">Rotten Tomatoes Link</a></p>

    </div>

  
    


}
else
{
    <p>No Rating data available.</p>
}




